practice/day3/img/flower01.jpg
practice/day3/img/flower02.jpg
practice/day3/img/flower03.jpg
practice/day3/img/flower04.jpg
practice/day3/img/flower06.jpg
practice/day15/new_text.txt
notes/What to study.ipynb
data
practice/day12/그랜드코리아레저(주)_영업점별 고객 식음료 주문 내역_20230630.csv
Personal
practice/day17/n_api.py
practice/day20/static/images/image01.jpg
practice/day20/static/images/image02.jpg
practice/day20/static/images/image03.jpg
practice/day20/static/images/image04.jpg
practice/day20/static/images/image05.jpg
practice/day20/static/images/image06.jpg
practice/day24/static/uploads/
practice/day24/static/images/
practice/day32/model/
practice/day44/resized_woods/
practice/day44/extracted_images/
practice/day44/resized_woods/
practice/day44/resized_woods.zip
